# Sequências em Python

Existem três tipos básicos de sequência na linguagem Python que são: `listas`, `tuplas` e `objetos range`.

Já vimos como o `objeto range` funciona. Caso não se lembre, você sabe o que fazer.

1. Acesse o _python shell_
2. Digite o comando `help(range)`
3. A descrição da função será exibida no terminal

## Operações comuns de sequências



*   __in__ ( `elemento in sequencia` ) : _True_ caso o elemento esteja na sequência, caso contrário receberá _False_

* __not in__ ( `elemento not in sequencia` ) : _False_ caso o elemento não esteja na sequência, caso contrário _True_

* __+__ ( `seq1 + seq2` ): concatenação de seq1 e seq2

* __*__ ( `seq1 * n` ) : equivale a adicionar seq1 a si mesmo n vezes

* __[ ]__ ( `seq1[n]` ) : representa o _enésimo_ elemento de seq1

__OBS__ : Sequências e iteráveis em Python tem a indexação iniciada por 0

* __[ : ]__ ( `seq1[n:m]` ) : _slicing_ ou _fatiamento_. Fatia a sequência de n até m, mas sem incluir o valor de m

* __[ : : ]__ ( `seq1[n:m:p]` ) : fatia a sequência de n até m sem incluir m, mas com passo p

* __len__ ( `len(seq1)` ) : retorna o tamanho da sequência

* __min__ ( `min(seq1)` ) : retorna o menor valor da sequência

* __max__ ( `max(seq1)` ) : retorna o maior valor da sequência

* __sum__ ( `sum(seq1)` ) : retorna a soma dos elementos da sequência quando o tipo de dado for inteiro ou ponto flutuante

* __index__ ( `seq1.index(elemento)` ) : retorna o índice da primeira ocorrência de elemento na sequência

* __count__ ( `seq1.count(elemento)` ) : retorna o número total de ocorrências de elemento na sequência

Sequências do mesmo tipo também suportam comparações.

Tuplas e Listas são comparadas lexicograficamente pela comparação de elementos correspondentes.

Isto significa que para que a comparação ocorra com sucesso, cada elemento é comparado entre si, e as duas sequências devem ser do mesmo tipo e, também, possuírem o mesmo tamanho

__VALE LEMBRAR #1__ : concatenar sequências imutáveis sempre resultará em um novo objeto. Veremos isso quando falarmos de sequências imutáveis _tuplas_

__VALE LEMBRAR #2__ : sequências do tipo _range_ suportam __apenas__ sequências de itens que seguem padrões específicos e, portanto, não suportam concatenação ou repetição de sequência

## Operações em sequências mutáveis

* `seq1[n] = valor` : o elemento n da sequência é substituído por valor

* `seq1[n:m] = seq2` : esta fatia da sequência será substituída pelo conteúdo da sequência 2 ou do iterável

* `del seq1[n:m]` ou `seq1[n:m] = []` : remove da sequência os valores contidos neste fatiamento ou _slicing_

* `seq1[n:m:p] = seq2` : os elementos desta fatia serão substituídos pelos elementos pelos elementos da sequência 2 ou do iterável 2

* `del seq1[n:m:p]` : remove da sequência os elementos dos índices especificados ao passo p

__OBS__ : seq2 deve ter o mesmo tamanho que a fatia ou _slice_ a qual ele substituirá

## Listas

São sequências mutáveis, normalmente usadas para armazenar coleções de itens homogêneos.

As listas podem ser declaradas e inicializadas de várias maneiras como:

* usando apenas um par de colchetes para criarmos uma lista vazia : `minha_lista = [ ]`

* usando colchetes e separando os elementos por vírgulas : `minha_lista = [1, 2, 3]`

* usando _list comprehension_ : `[num for num in iterável]`

* usando o construtor : `list()` ou `list(iterável)`

Usando apenas um par de colchetes

In [ ]:
minha_lista = []
minha_lista

[]

Usando colchetes e separando os elementos por vírgula

In [ ]:
minha_lista = [1, 2, 3]
minha_lista

[1, 2, 3]

Usando _list comprehension_

In [ ]:
minha_lista = [ num for num in range(1, 4)]
minha_lista

[1, 2, 3]

Entendendo um pouco mais sobre _list comprehension_. 
O código acima é equivalente se tivéssemos utilizado um __FOR__ em conjunto com o método _append_

In [ ]:
minha_lista = []

for num in range(1, 4):
  minha_lista.append(num)

minha_lista

[1, 2, 3]

### Métodos de Listas

#### Append

Adiciona um valor ao final da sequência

__SINTAXE__

`seq1.append(valor)`

In [ ]:
seq1 = [1, 2, 3]
seq1.append([4, 5, 6])
seq1

[1, 2, 3, [4, 5, 6]]

#### Clear

Remove todos os elementos da sequência

__SINTAXE__

`seq1.clear()`

__OBS__ : comando equivalente a este `del seq1[:]`

In [ ]:
seq1.clear()
seq1

[]

#### Copy

Cria uma cópia rasa - shallow copy - da sequência

__SINTAXE__

`seq1.copy()`

__OBS__: comando equivalente a este `seq1[:]`

In [ ]:
seq1 = ['a', 'b', 'c']
seq2 = seq1.copy()
print('seq1', seq1)
print('seq2', seq2)

seq1 ['a', 'b', 'c']
seq2 ['a', 'b', 'c']

#### Extend

Estende a sequência com o conteúdo de uma nova sequência ou iterável

__SINTAXE__

`seq1.extend(iterável)`

In [ ]:
seq1.extend(['d', 'e', 'f'])
seq1

['a', 'b', 'c', 'd', 'e', 'f']

#### Insert

Insere um elemento na sequência no índice especificado

__SINTAXE__

`seq1.insert(indice, valor)`

In [ ]:
seq1.insert(0, 'w')
seq1

['w', 'a', 'b', 'c', 'd', 'e', 'f']

#### Pop

Retorna e remove o item da sequência

__SINTAXE__

`seq1.pop()` ou `seq1.pop(indice)`

__OBS__ : o argumento opcional _indice_ tem como padrão -1, logo, o último elemento da sequência será removido e retornado

In [ ]:
seq1.pop()

'f'

In [ ]:
seq1

['w', 'a', 'b', 'c', 'd', 'e']

In [ ]:
seq1.pop(0)

'w'

In [ ]:
seq1

['a', 'b', 'c', 'd', 'e']

In [ ]:
letra_removida = seq1.pop(1)

In [ ]:
print(f'{letra_removida} foi removida da nossa lista')

b foi removida da nossa lista

#### Remove

Remove a primeira ocorrência do elemento na sequência

__SINTAXE__

`seq1.remove(elemento)`

__OBS__ : este método "levanta" uma exceção _ValueError_ quando o elemento não é encontrado na sequência

In [ ]:
seq1

['a', 'c', 'd', 'e']

In [ ]:
seq1.remove('d')

In [ ]:
seq1

['a', 'c', 'e']

In [ ]:
'f' in seq1

False

In [ ]:
if 'f' in seq1:
  seq1.remove('f')
else:
  print(f'não tá na lista')

não tá na lista

#### Reverse

Inverte os elementos da sequência _in-place_, ou seja, não há a necessidade de reatribuição

In [ ]:
seq1

['a', 'c', 'e']

In [ ]:
seq1.reverse()

In [ ]:
seq1

['e', 'c', 'a']

#### Sort

Este método classifica a lista _in-place_. 

Suporta 2 argumentos que __só__ podem ser passados como _argumentos nomeados_

* __key__ : especifica uma função de um argumento que é usado para extrair uma chave de comparação de cada elemento da lista

A chave correspondente a cada item na lista é calculada uma vez e depois usada para todo o processo de classificação.

O valor padrão `None` significa que os itens da lista são classificados diretamente sem calcular um valor de chave separado

* __reverse__ : é um valor _booleano_. Se definido como __True__, então os elementos da lista são classificados como se cada comparação estivesse invertida

Este método modifica a sequência _in-place_ para economizar espaço ao classificar uma sequência grande.

In [ ]:
seq1

['e', 'c', 'a']

In [ ]:
seq1.sort()

In [ ]:
seq1

['a', 'c', 'e']

In [ ]:
seq1.sort(reverse=True)

In [ ]:
seq1

['e', 'c', 'a']

In [ ]:
nomes = ['Cinthia', 'Camila', 'Amanda', 'Gisele']
nomes.sort()
nomes

['Amanda', 'Camila', 'Cinthia', 'Gisele']

In [ ]:
nomes = ['Cinthia', 'Camila', 'amanda', 'Gisele']
nomes.sort()
nomes

['Camila', 'Cinthia', 'Gisele', 'amanda']

In [ ]:
nomes = ['Cinthia', 'Camila', 'amanda', 'Gisele']
nomes.sort(key=str.lower)
nomes

['amanda', 'Camila', 'Cinthia', 'Gisele']

## Tuplas

São sequências imutáveis, tipicamente usadas para armazenar coleções de dados heterogêneos.

Também são utilizadas para casos em que seja necessária uma sequência imutável de dados homogêneos.

As tuplas podem ser declaradas e inicializadas de várias maneiras como:

* usando um par de parêntesis para criarmos uma tupla vazia : `minha_tupla = ()`

* usando uma vírgula à direita para uma tupla _singleton_, ou seja, de apenas um único elemento : `minha_tupla = ('a',)` ou `minha_tupla = 'a',`

* separando os elementos com vírgulas : `minha_tupla = a, b, c` ou `minha_tupla = (a, b, c)`

* usando o construtor : `tuple()` ou `tuple(iterável)`

__OBS__ : O iterável pode ser uma sequência, um contâiner que suporte iteração ou um objeto iterador.

  * Exemplo

    * `tuple('rafael')` retornará `('r', 'a', 'f', 'a', 'e', 'l')`

    * `tuple([1, 2, 3])` retornará `(1, 2, 3)`

    * `tuple()` retornará `()`

    __ATENÇÃO__ : Se você reparou bem, é a vírgula quem faz uma tupla e não os parêntesis. Estes são opcionais, __exceto__ nos casos em que desejamos criar uma tupla vazia, ou quando são necessários para evitar ambiguidades sintáticas.

    Veja este exemplo:

      * `func(a, b, c)` : é uma chamada da função `func` com três argumentos

      * `func((a, b, c))` : é uma chamada da função `func` com uma tupla de 3 elementos com um único argumento

__DICA__ : as tuplas implementam todas as operações comuns de sequência. Retorna para a seção _<u>Operações comuns de sequências</u>_ e relembre!

### Desempacotamento

Vimos que uma tupla pode armazenar tipos variados de dados. O acesso a eles se dá pelo índice e como sabemos, python indexa suas estruturas compostas a partir do zero.

Mas, também, podemos desembrulhar ou desempacotar uma tupla. Esta é uma operação beeemm poderosa que temos a mão quando trabalhamos com a linguagem __Python__.

In [ ]:
dados_de_contato = ('Rafael', 'Puyau', 46, 'puyau@protonmail.com')

In [ ]:
type(dados_de_contato)

tuple

In [ ]:
nome, sobrenome, idade, email = dados_de_contato

In [ ]:
print(nome, sobrenome)
print(idade, email)

Rafael Puyau
46 puyau@protonmail.com

__ATENÇÃO__ : se podemos _<u>desempacotar</u>_, logo, podemos _<u>empacotar</u>_ diferentes variáveis em uma tupla

In [ ]:
turma = 315
modulo = 'Python'
instituicao = 'Infinity School'

info = turma, modulo, instituicao

In [ ]:
type(info)

tuple

In [ ]:
info

(315, 'Python', 'Infinity School')

#### Operador _

E se quisermos pegar apenas alguns elementos da tupla e ignorar os demais?

Podemos fazer isso com o operador `_`

In [ ]:
nome, sobrenome, _, _ = dados_de_contato

In [ ]:
nome, sobrenome = dados_de_contato

ValueError: ignored

In [ ]:
print(nome, sobrenome)

Rafael Puyau

In [ ]:
nome, _, idade, _ = dados_de_contato

In [ ]:
nome

'Rafael'

In [ ]:
idade

46

#### Expressão estrelada

Mas, e se quisermos pegar somente o nome e sobrenome, deixando as demais informações "empactadas"?

Nestes casos, devemos usar a expressão estrela

In [ ]:
nome, sobrenome, *demais_info = dados_de_contato

In [ ]:
print(nome, sobrenome)
print(type(demais_info))
print(demais_info)

Rafael Puyau
<class 'list'>
[46, 'puyau@protonmail.com']

## Aprofundando o conhecimento

Agora você já possui conhecimento suficiente para trabalhar __confortavelmente__ com estruturas compostas mutáveis (_listas_) e imutáveis (_tuplas_) em python. 

Desta forma, podemos avançar um pouco em nossos estudos!

### Enumerate( )

É uma função _built-in_ do python que basicamente devolve um objeto enumerado.

__SINTAXE__

`enumerate(iterável)`

__OBS__ : O _iterável_ deve ser uma sequência, um iterador ou algum outro objeto que suporte iteração.

O retorno será uma tupla contendo a contagem e os valores obtidos na iteração sobre o iterável.

In [ ]:
nomes = ['Cinthia', 'Amanda', 'Camila', 'Gisele']
enumerate(nomes)

In [ ]:
list(enumerate(nomes))

[(0, 'Cinthia'), (1, 'Amanda'), (2, 'Camila'), (3, 'Gisele')]

In [ ]:
for indice, nome in list(enumerate(nomes)):
  print(indice, nome)

0 Cinthia
1 Amanda
2 Camila
3 Gisele

Quando usar então?

Quando queremos pegar o índice de um elemento e seu valor ao mesmo tempo

### Zip( )

É uma função _built-in_ do python que retorna um iterador de tuplas, onde a enésima tupla contém o enésimo elemento e cada um dos iteráveis do argumento.

Esta função é preguiçosa, ou seja, os elementos não serão processados até que o iterável seja iterado por um _loop for_ ou por uma _lista_.

__ATENÇÃO__ : Vale considerar que os iteráveis passados para zip() podem ter comprimentos diferentes; às vezes por design e às vezes por causa de um bug no código que preparou esses iteráveis.

A linguagem __Python__ nos oferece três abordagens diferentes para lidar com este problema:

#### Quando o iterável mais curto ou menor se esgota

Por padrão, `zip()` para quando o iterável mais curto se esgota. Ele irá ignorar os itens restantes nos iteráveis mais longos, cortando o resultado para o comprimento do iterável mais curto.

In [ ]:
list(zip(range(3), ['Python', 'R']))

[(0, 'Python'), (1, 'R')]

#### Quando os iteráveis possuem o mesmo tamanho [opção __strict__]

`zip()` é frequentemente usado em casos onde os iteráveis são considerados de tamanho igual. 

Nestes casos, é recomendado usar a opção `strict=True`.

In [ ]:
# Este código roda na versão 3.10 onde o argumento strict foi adicionado
#list(zip(range(3), ['Python', 'R', 'SQL'], strict=True))

Ao contrário do comportamento padrão, ele verifica se os comprimentos dos iteráveis são idênticos, levantando uma exceção `ValueError` se não forem.

Sem o argumento `strict=True`, qualquer bug que resulte em iteráveis de diferentes comprimentos será silenciado, possivelmente se manifestando como um bug difícil de encontrar em outra parte do programa

In [ ]:
nomes = ['Cinthia', 'Amanda', 'Camila', 'Gisele']
emails = ['cinthia@email.com', 'amanda@email.com', 'camila@email.com', 'gisele@email.com']

In [ ]:
list(zip(nomes, emails))

[('Cinthia', 'cinthia@email.com'),
 ('Amanda', 'amanda@email.com'),
 ('Camila', 'camila@email.com'),
 ('Gisele', 'gisele@email.com')]

In [ ]:
for nome, email in list(zip(nomes, emails)):
  print(f'{nome} tem este email: {email}')

Cinthia tem este email: cinthia@email.com
Amanda tem este email: amanda@email.com
Camila tem este email: camila@email.com
Gisele tem este email: gisele@email.com

## Hora de Praticar!

### Atividade 01

1. Faça um programa que leia o nome de uma pessoa e imprima o mesmo invertido

#### Gabarito

In [ ]:
nome = input('Nome: ')
nome[::-1].strip().title()

Nome: Rafael

'Leafar'

### Atividade 02

2. Faça um programa que leia 4 notas de um aluno e imprima sua média. Após a média ser calculada, informe se o aluno foi ou não aprovado.

  * Aprovado --- média maior ou igual a 7

  * Reprovado --- média menor que 5

  * Em recuperação --- média entre 5 e 7

#### Gabarito

In [ ]:
notas = []

for _ in range(4):
  nota = float(input('Nota: '))
  notas.append(nota)

media = sum(notas) / len(notas)

print(f'Média: {media:.2f}')

if media >= 7:
  print('Aprovado')
elif media < 5:
  print('Reprovado')
else:
  print('Em recuperação')

### Atividade 03

3. Faça um programa que leia 10 números e depois mostre o maior e o menor números lidos

#### Gabarito

In [ ]:
numeros = []

for _ in range(10):
  num = int(input('Número: '))
  numeros.append(num)

print(f'Maior número lido: {max(numeros)}')
print(f'Menor número lido: {min(numeros)}')

### Atividade 04

4. Faça um programa que leia 10 números inteiros e separe os mesmos em pares e ímpares. Mostre quantos pares foram lidos, bem como o maior e o menor número par. Faça o mesmo para os ímpares

#### Gabarito

In [ ]:
pares = []
impares = []

for _ in range(10):
  num = int(input('Número: '))
  if num % 2 == 0:
    pares.append(num)
  else:
    impares.append(num)

print('-' * 20)

print(f'Pares lidos: {len(pares)}')
print(f'Maior par lido: {max(pares)}')
print(f'Menor par lido: {min(pares)}')

print('-' * 20)

print(f'Ímpares lidos: {len(impares)}')
print(f'Maior ímpar lido: {max(impares)}')
print(f'Menor ímpar lido: {min(impares)}')

### Atividade 05

5. Faça um programa que leia 10 números inteiros e imprima a lista ordenada em ordem crescente e decrescente

#### Gabarito

In [ ]:
numeros = []

for _ in range(10):
  num = int(input('Número: '))
  numeros.append(num)

numeros.sort()
print(numeros)

numeros.sort(reverse=True)
print(numeros)

### Atividade 06

6. Faça um programa que leia o nome de 4 vendedores e o valor total de venda que cada um realizou. Imprima na tela os 2 vendedores que mais venderam, ordem decrescente

#### Gabarito

In [ ]:
vendedores = []
vendas = []
tops = []

for _ in range(4):
  vendedor = input('Vendedor: ').title()
  venda = float(input('Valor da venda [R$]: '))
  vendedores.append(vendedor)
  vendas.append(venda)

tops = list(zip(vendas, vendedores))
tops.sort(reverse=True)

print('-' * 20)

for venda, vendedor in tops[:2]:
  print(f'{vendedor} vendeu R${venda:.2f}')

### Atividade 07

7. Faça um programa que leia os nomes dos 3 nadadores que subirão ao pódio na ordem do primeiro colocado para o terceiro. Imprima a na tela a posição do nadador e seu nome

#### Gabarito

In [ ]:
nadadores = []

for _ in range(3):
  nadadores.append(input('Nadador: ').title())

print('-' * 20)

for colocacao, nadador in enumerate(nadadores, start=1):
  print(f'{colocacao}º lugar - {nadador}')