# Respondendo as questões do CEO

Nosso CEO deseja saber algumas informações sobre o faturamento de vinhos. A equipe de vendas nos forneceu um dataset com alguns dados e precisamos extrair algumas informações para respondermos as questões

## Carregando o dataset

In [ ]:
import pandas as pd

In [ ]:
dataset = r'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wines.csv'
df = pd.read_csv(dataset)

In [ ]:
df.sample(5)

            date   label  vintage      style   country   price  quantity  rate
4463  2021-04-01  Wine H     1982        Red  Portugal  131.80        14    89
8943  2021-11-03  Wine R     1990  Sparkling     Spain  471.44         1    87
2655  2021-07-24  Wine Z     2015     Orange     Spain  295.39        11    92
7293  2021-05-09  Wine T     1984       Rose    Brazil  497.86         9    89
6838  2021-04-28  Wine P     2018  Sparkling   Germany  335.20         2    80

## Perguntas do CEO

### 1. Quanto custa o vinho mais caro?

### 2. Quanto custa o vinho mais barato?

### 3. Qual o vinho mais caro?

### 4. Qual o vinho mais barato?

### 5. Quanto foi vendido em 2021?

### 6. Quantas garrafas no total?

### 7. Qual vinho teve a maior nota?

### 8. Qual vinho teve a menor nota?

### 9. Qual a safra mais antiga?

### 10. Qual a safra mais recente?

### 11. Qual país teve mais garrafa vendida?

### 12. Qual país teve menos menos garrafa vendida?

### 13. Quantos vinhos abaixo de R$100,00 foram vendidos?

### 14. Quantos vinhos acima de R$100,00 foram vendidos?

### 15. Quantas garrafas de espumantes foram vendidadas no mês de Dezembro?

### 16. Quantos vinhos brancos e rosés foram vendidos nos meses de Janeiro à Março?

### 17. Qual foi o faturamento do 1º trimestre de 2021?

### 18. Quantas garrafas de tinto foram vendidas no inverno de 2021?

__VALE LEMBRAR__ : Inverno de 21 de junho à 20 setembro

### 19. Quais os 3 meses de maior faturamento?

### 20. Qual o ticket médio por mês?