# Respondendo as questões do CEO

Nosso CEO deseja saber algumas informações sobre o faturamento de vinhos. A equipe de vendas nos forneceu um dataset com alguns dados e precisamos extrair algumas informações para respondermos as questões

## Carregando o dataset

In [2]:
import pandas as pd

In [3]:
dataset = r'https://raw.githubusercontent.com/rafaelpuyau/infinity_school/main/ds/datasets/wines.csv'
df = pd.read_csv(dataset, parse_dates=['date'])

In [4]:
df.dtypes

date        datetime64[ns]
label               object
vintage              int64
style               object
country             object
price              float64
quantity             int64
rate                 int64
dtype: object

In [5]:
df['date'] = df['date'].map(lambda dt: dt.strftime('%d/%m/%Y'))

In [6]:
df.sample(5)

            date   label  vintage   style   country   price  quantity  rate
3131  04/06/2021  Wine X     1994   Sweet    Brazil  208.98         9    95
4667  10/12/2021  Wine Z     1987  Orange  Portugal  221.79         8    93
9506  22/04/2021  Wine L     2021   White     Spain  329.57         4    89
2203  11/03/2021  Wine N     1999   White   Uruguay  377.20         1    82
3439  21/06/2021  Wine F     2010     Red     Italy  170.56        11    80

## Perguntas do CEO

### 1. Quanto custa o vinho mais caro?

#### Gabarito

In [7]:
df['price'].max()

1107.89

### 2. Quanto custa o vinho mais barato?

#### Gabarito

In [8]:
df['price'].min()

50.01

### 3. Qual o vinho mais caro?

#### Gabarito

In [9]:
df.loc[df['price'] == df['price'].max()]

            date   label  vintage      style country    price  quantity  rate
1249  29/09/2021  Wine Q     2002  Sparkling   Italy  1107.89        13    92

### 4. Qual o vinho mais barato?

#### Gabarito

In [10]:
df.loc[df['price'] == df['price'].min()]

            date   label  vintage   style country  price  quantity  rate
4910  15/08/2021  Wine Z     2009  Orange  Brazil  50.01         5    90
9256  01/11/2021  Wine W     1995   Sweet  Brazil  50.01        12    94

### 5. Quanto foi vendido em 2021?

#### Gabarito

In [11]:
df['sub-total'] = df['price'] * df['quantity']
fat = f'R${df["sub-total"].sum():_.2f}'
print(fat.translate(fat.maketrans({'_': '.', '.': ','})))

R$16.991.676,32

### 6. Quantas garrafas no total?

#### Gabarito

In [14]:
qtde_gfas = f'{df["quantity"].sum():_}'
print(qtde_gfas.translate(qtde_gfas.maketrans({'_': '.'})))

80.155

### 7. Qual vinho teve a maior nota?

#### Gabarito

In [15]:
df.loc[df['rate'] == df['rate'].max()]

,date,label,vintage,style,country,price,quantity,rate,sub-total
23,06/05/2021,Wine L,2006,White,Portugal,451.14,12,100,5413.68
39,19/05/2021,Wine X,2000,Sweet,Italy,86.54,2,100,173.08
76,09/06/2021,Wine G,2000,Red,Chile,146.67,9,100,1320.03
91,13/06/2021,Wine Y,1994,Orange,Argentina,479.30,10,100,4793.00
218,11/05/2021,Wine Y,2005,Orange,Italy,196.25,5,100,981.25
...,...,...,...,...,...,...,...,...,...
9968,15/01/2021,Wine X,2007,Sweet,USA,67.97,7,100,475.79
9971,07/06/2021,Wine P,2005,Sparkling,Germany,147.44,15,100,2211.60
9979,29/11/2021,Wine Z,1993,Orange,Spain,96.17,13,100,1250.21
9996,03/03/2021,Wine S,1994,Rose,Spain,55.84,4,100,223.36
9999,18/09/2021,Wine V,1982,Sweet,Portugal,63.85,13,100,830.05

### 8. Qual vinho teve a menor nota?

#### Gabarito

In [16]:
df.loc[df['rate'] == df['rate'].min()]

,date,label,vintage,style,country,price,quantity,rate,sub-total
13,22/04/2021,Wine N,2019,White,Uruguay,229.17,8,75,1833.36
20,04/03/2021,Wine T,1984,Rose,Italy,188.16,3,75,564.48
52,28/11/2021,Wine W,2021,Sweet,Portugal,377.73,13,75,4910.49
61,05/12/2021,Wine V,2020,Sweet,USA,274.18,5,75,1370.90
95,11/07/2021,Wine C,1988,Red,France,409.73,7,75,2868.11
...,...,...,...,...,...,...,...,...,...
9953,21/06/2021,Wine Z,1995,Orange,Chile,413.03,8,75,3304.24
9961,21/04/2021,Wine N,1997,White,Portugal,167.44,2,75,334.88
9967,25/07/2021,Wine X,2019,Sweet,Argentina,262.55,1,75,262.55
9976,13/02/2021,Wine I,1996,Red,Portugal,179.73,12,75,2156.76
9990,16/11/2021,Wine B,1993,Red,Argentina,133.29,8,75,1066.32

### 9. Qual a safra mais antiga?

#### Gabarito

In [17]:
df['vintage'].min()

1982

### 10. Qual a safra mais recente?

#### Gabarito

In [18]:
df['vintage'].max()

2021

### 11. Qual país teve mais garrafa vendida?

#### Gabarito

In [19]:
df.groupby('country')['quantity'].sum()\
.sort_values(ascending=False).reset_index()[:1]

  country  quantity
0   Italy      8335

### 12. Qual país teve menos menos garrafa vendida?

#### Gabarito

In [22]:
df.groupby('country')['quantity'].sum()\
.sort_values(ascending=False).reset_index().tail(1)

  country  quantity
9     USA      7402

### 13. Quantos vinhos abaixo de R$100,00 foram vendidos?

#### Gabarito

In [25]:
abaixo_100 = f'{df.loc[df["price"] < 100]["quantity"].sum():_}'
print(abaixo_100.translate(abaixo_100.maketrans({'_': '.'})))

18.195

### 14. Quantos vinhos acima de R$100,00 foram vendidos?

#### Gabarito

In [27]:
acima_100 = f'{df.loc[df["price"] > 100]["quantity"].sum():_}'
print(acima_100.translate(acima_100.maketrans({'_': '.'})))

61.949

### 15. Quantas garrafas de espumantes foram vendidadas no mês de Dezembro?

In [32]:
df['date'] = pd.to_datetime(df['date'])
esp_dez = f'{df.loc[(df["style"] == "Sparkling") & (df["date"].dt.month == 12)]["quantity"].sum():_}'
print(esp_dez.translate(esp_dez.maketrans({'_': '.'})))

902

#### Gabarito

In [ ]:
df.loc[(df['style'] == 'Sparkling') & (df['date'].dt.month == 12)]['quantity'].sum()

902

### 16. Quantos vinhos brancos e rosés foram vendidos nos meses de Janeiro à Março?

#### Gabarito

In [35]:
qtde_wr = f'{df.loc[((df["style"] == "White") | (df["style"] == "Rose")) & (df["date"].dt.month.isin([1, 2, 3]))]["quantity"].sum():_}'

print(qtde_wr.translate(qtde_wr.maketrans({'_':'.'})))

6.743

### 17. Qual foi o faturamento do 1º trimestre de 2021?

#### Gabarito

In [36]:
df['sub-total'] = df['price'] * df['quantity']

In [37]:
fat = f'R${df.loc[df["date"].dt.month < 4]["sub-total"].sum():_.2f}'
print(f'{fat.translate(fat.maketrans({"_": ".", ".": ","}))}')

R$4.193.529,08

### 18. Quantas garrafas de tinto foram vendidas no inverno de 2021?

__VALE LEMBRAR__ : Inverno de 21 de junho à 20 setembro

#### Gabarito

In [40]:
df['date'] = df['date'].astype(str)
tn_inv = f'{df.loc[((df["date"] >= "2021-06-21") & (df["date"] <= "2021-09-20")) & (df["style"] == "Red")]["quantity"].sum():_}'
print(tn_inv.translate(tn_inv.maketrans({'_':'.'})))

3.371

### 19. Quais os 3 meses de maior faturamento?

#### Gabarito

In [51]:
df['date'] = pd.to_datetime(df['date'])
fat_mes = df.groupby(df['date'].dt.month)['sub-total'].sum().sort_values(ascending=False)[:3]
fat_mes = fat_mes.map(lambda valor: f'R${valor:_.2f}')
fat_mes = fat_mes.map(lambda montante: montante.translate(montante.maketrans({'_':'.', '.': ','})))
fat_mes

date
1     R$1.497.801,76
10    R$1.491.124,46
4     R$1.472.231,33
Name: sub-total, dtype: object

### 20. Qual o ticket médio por mês?

##### Média do faturamento por mês

#### Gabarito

##### Ticket médio por garrafa

In [59]:
ticket_medio = df.groupby(df['date'].dt.month)['sub-total'].mean().sort_values(ascending=False)

ticket_medio = ticket_medio.sort_values(ascending=False)
ticket_medio.index.name = 'Mês'

ticket_medio = ticket_medio.map(lambda tm: f'R${tm:_.2f}')
ticket_medio.map(lambda tm: tm.translate(tm.maketrans({'_':'.', '.': ','}))).to_frame(name='Ticket Médio')

    Ticket Médio
Mês
4     R$1.828,86
1     R$1.757,98
8     R$1.750,87
9     R$1.726,22
10    R$1.715,91
11    R$1.715,08
6     R$1.680,82
12    R$1.662,06
3     R$1.648,53
5     R$1.643,97
7     R$1.635,53
2     R$1.629,98